/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/contractors-in-email-attach.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.env
/logs.txt
/message_ids.pkl
/message_ids.pkl.bkp2
